{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Xintra</h1>
    <p class="lead">Xintra is a free tool to prepare for your exams</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start here</h2>
        <p>
            !
        </p>
        <p><a class="btn btn-default" href="/start.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div
</div>

{% endblock %}
